<% layout("/layouts/boilerplate") %>
<div class="row">
<div class="col-8 offset-2">
    <h1>Create new Listing</h1>
    <br/><br/>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
 <div class="mb-3">
  <label for="title" class="form-lable">Title</label>      
<input name="listing[title]" placeholder="Add a Catchy titile" type="text" class="form-control" required/>
<div class="valid-feedback">You fill correct title</div>
</div>

<div class="mb-3">
    <label for="description" class="form-lable">Description</label>      
<textarea name="listing[description]" class="form-control" required></textarea>
<div class="invalid-feedback">please enter desscription</div>
</div>

<!-- <div class="mb-3">
    <label for="image" class="form-lable">Image Link</label>      
<input name="listing[image]" placeholder="enter img/url link" type ="text" class="form-control" />
</div> -->

<div class="mb-3">
    <label for="image" class="form-lable">Uploda Listing Image</label>      
<input name="listing[image]"  type ="file" class="form-control" required/>
</div>

<div class="row">
<div class="mb-3 col-md-4" >
    <label for="price" class="form-lable">Price</label>      
<input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
<div class="invalid-feedback">please enter the price</div>
</div>

<div class="mb-3 col-md-8">
<label for="country" class="form-lable">Country</label>      
<input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
<div class="invalid-feedback">please enter the country</div>
</div>
</div>

<div class="mb-3">
<label for="location" class="form-lable">Location</label>      
<input name="listing[location]" placeholder="jaipur,Rajasthan" type="text" class="form-control" required/>
<div class="invalid-feedback">please enter the location</div>
</div>
<br/><br/>

<button class="btn btn-dark add-btn">Add</button>
    </form>

</div>
</div>